@model IEnumerable<RiftWorld.DATA.EF.Secret>

@if (Model.Count() != 0) //<------ this if is to not show this section if the user has no secrets they can view
{
    <section id="secret" class="col-12" name="Secrets">
        <h2 class="line">Few Know...</h2>
        <div>
            @if (Request.IsAuthenticated && User.IsInRole("Admin")) //<--- have them already revealed if it is an admin
            {
                foreach (var item in Model)
                {
                    <br />
                    <p class="revealed">
                        @Html.DisplayFor(modelItem => item.TheContent)
                    </p>
                }
            }
            else
            {
                foreach (var item in Model)
                {
                    <br />
                    <p>
                        @Html.DisplayFor(modelItem => item.TheContent)
                    </p>
                }
            }
        </div>
        <br />
    </section>
}
