@model IEnumerable<RiftWorld.DATA.EF.Secret>


<section id="secret" class="col-12">
    <h2 class="line">Few Know...</h2>
    <div>
        @foreach (var item in Model)
        {
            <br />
            <p>
                @Html.DisplayFor(modelItem => item.TheContent)
            </p>
        }
    </div>
    <br />
</section>
