
@{
    ViewBag.Title = "RumorFailed";
}

<h2>RumorFailed</h2>

<p>
    Well, you failed to spread the rumor.<br />
    I'm actually rather impressed you managed to make it to this error page.<br />
    No, really how did you get here? Did you turn off javascript? <br />
    If not, well congrats on getting here....
    <br />
    I guess?
    </p>

<p>However, you failed to make the rumor, so you might want to retry that. </p>