@model RiftWorld.DATA.EF.Journal

@{
    ViewBag.Title = "Journal";
}
<div class="col-12">
    @using (Html.BeginForm("Create", "Journals"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Journal</h4>
            <hr />

            <div class="form-group">
                @Html.LabelFor(model => model.TheContent, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-12">
                    <div class="da-focus">
                        @Html.EditorFor(model => model.TheContent, new { htmlAttributes = new { @class = "form-control", style = "height: 15em; font-size:1em;" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.TheContent, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

</div>