@model RiftWorld.UI.MVC.Models.JournalVM

<!--todo maybe edit a bit *bonus*-->
<section id="journalEntries" class="col-12" name="Journal">
    <h2 class="line">Journal Entries</h2>
    <div class="row justify-content-center">
        <div id="these-journals" class="col-9" style="text-align:left; padding-left:1.8rem;">
            @if(Model.Journals.Count == 0)
            {
                <p>The journal is blank</p>
            }
            @foreach (var item in Model.Journals)
            {
                <div class="journal" style="transform:rotate(0)">
                    @Html.DisplayFor(modelItem => item.Written) -  <a href="@Url.Action("Details", "Journals", new { id = item.JournalId })" class="stretched-link">@Html.DisplayFor(modelItem => item.ContentMini)@if (item.IsLonger)
                    {@("...")}</a>
                </div>
            }
            @if (Model.HasMore)
            {
                @Html.ActionLink("See more", "JournalHub", "Characters", new { id = Model.CharacterId }, new { @class = "see"})
            }
        </div>

    </div>

</section>