@model IEnumerable<RiftWorld.UI.MVC.Models.SecretComplete_PlayerVM>

<section id="KnownSecrets" class="col-12">
    <table class="table">
        <tr>
            <th>
                secrete
            </th>
            <th>
                is about
            </th>
            <th>
                tags
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Secret.TheContent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Secret.Info.Name)
                </td>
                <td>
                    @foreach (var tag in item.Tags)
                    {
                        @Html.DisplayFor(modelItem => tag.Name)
                    }
                </td>
            </tr>
        }

    </table>
</section>