
@{
    ViewBag.Title = "Confirmed";
}

<div class="col-12">
    <h2>Yay and horray your character is on the way!</h2>
    <p>Please know that you must await an approval of the character before being able to use the functions of it.</p>
    <p>Any contact will be done through discord if there are any issues with it.</p>
</div>

