<div class="modal fade" id="tipsModal" tabindex="-1" role="dialog" aria-labelledby="tipsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tipsModalLabel">Controls for Complex Creates/Edits!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    The purpose of this editor is for all the kinds of information that involves connecting to multiple other bits of data. 
                </p>
                <p>
                    The left list is everything you could select to make a defined connection with. While the right is everything currently selected to be connected (or is already connected)
                </p>
                <p>
                    The right list's functionality is all about adding details to a connection. While the left is about adding or removing a connnection
                </p>
                <p>
                    Click an entry on the left list to toggle whether it is connected or not
                </p>
                <p>
                    Click an entry on the left to toggle the visibility of its extra details (found below the table)
                </p>
                <p>
                    An entry being orange means that it is an unpublished info. (unless it is for character org members, in which case it is an unapproved membership)
                </p>
                <p>
                    A lighter color on the right means it is currently selected
                </p>
            </div>
        </div>
    </div>
</div>
