@model IEnumerable<RiftWorld.DATA.EF.Tag>


    <div class="tags">
        @foreach (var item in Model)
        {
            @Html.ActionLink(item.TagName, "TagIndex", "Infos", new { id = item.TagId }, null)
        }
    </div>
