@model IEnumerable<RiftWorld.UI.MVC.Models.SecretComplete_PlayerVM>

<div id="KnownSecrets" class="tabcontent-a" name="Known Secrets">
    @if (Model.Count() == 0)
    {
        <p>Hmmm.... seems you need to investigate more. You don't know any secrets</p>
    }
    else
    {

        <table class="table">
            <tr>
                <th>
                    secret
                </th>
                <th>
                    is about
                </th>
                <th>
                    tags
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Secret.TheContent)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Secret.Info.Name)
                    </td>
                    <td>
                        @{
                            int counter = item.Tags.Count;
                            for (int i = 0; i < counter; i++)
                            {
                                @Html.DisplayFor(modelItem => item.Tags[i].Name)
                                if (i != counter - 1)
                                {
                                    @(", ")
                                }
                            }
                        }
                    </td>
                </tr>
            }

        </table>
    }

</div>