@{
    ViewBag.Title = "Home Page";
}

@section styles{
    <style>
        p {
            /*font-weight: 400;*/
            font-style: italic;
        }
    </style>
}
    <div class="col-12">
        <div class="jumbotron pb-3">
            <h1>Welcome to Caerithein</h1>
            <p class="lead">A site for all your knowledge based needs in the world of Caerithien.</p>
            <p>Feel free to explore anyomously or login and make your character to see what special things they know. Add to the world of Caerithien through their words here!</p>
        </div>
        <div>
            <p>
               Caerithien is a wiki-like website for the D&D world of Caerithien. Users may browse the wealth of knowledge and gain further access when logged in with an approved account.
            </p>
            <p>
                This site is NOT meant to be the primary means of communication between players and the DM. All communication should occur through Discord. This includes notifying the DM or a designated mod about a change you are planning to make to published work of yours on the site. Notification is not required for uploading your current character, adding a journal, or writing a rumor; but notifications may allow for faster approval.
            </p>
            <p>
                When you have decided to make an account, you'll have to await approval to ensure that the site is not overloaded with fake users. During this time, ensure that you have filled out the RPG Consent form and sent it to Katherine through Discord. 
                <br/>
                Once the account is made, you are able to add your current character to your account. This again must await approval once done to ensure that all content meets community standards. If you add a character portrait, please follow the style guidelines presented and ask permission (and recieve it) from whoever drew the picture or took it (in case of photograph); also, make sure you properly credit them in the artist section. 
            </p>
            <p>
                It is once you have an approved character that the site will fully open up for you. You will have the ability to write a journal entry. You will on any piece of lore whisper a rumor. Most importantly, if you have been designated any secrets by the DM, you will be able to view them. Secrets will be pieces of knowledge that not everyone knows that your character has access to. Usually, these will not be ones you did not already know from in game learned; it serves as a record for you as a player to review. You can find a full list of secrets you know on the character tab. You'll also find them in the actual pages themselves.
                <br />
                For an example of what a secret will look like, you may login to the demo user. Email: "demo@demo.com" Password:"Demo@123456". If you view anything with the "Demo" tag you will find an example of a secret; as there will be a new section, unviewable if you saw the page logged off. 
            </p>
            <p>
                You may also request to join an organization, if they allow members. This again should be notified to the DM before being done to maximize chance of it being approved. Probably along with a why. 
            </p>
            <p>
                As a character, you may at any time go to character link to view all known secrets, all orgs you are a member of, all rumors, journals, and membership requests under approval, you full journal entries and edit them. You can also edit your character. If you are just changing your location (notification required), you may also use the change location button. And if you have discussed the end for your character you can request to retire - or cancel that request. 
                <br/>
                Note that retirement requests are not guarenteed to be approved if the retirement has NOT been discussed beforehand. Retiring a character on this site is not undoable so we do not take a sudden request to retire lightly. 
            </p>
            <p>
                Everyhting under the explore tab is pieces of information written by the DM. Stories section is where stories as rewards for kind donators are located. These may or may not be canon. General rule of thumb, if the tag "Non-Canon" exists, it isn't canon. 
            </p>
            <p>
                The hall of heroes is where you can see all of your fellow adventures. Their page is also where you will be able to read their journals from. 
            </p>
            <p>Finally, community is where links to other fantastic sites and people supported by us are found.</p>
        </div>
    </div>
@section Scripts{
    <script>

    </script>
}