
<div class="col">

    @* todo - Katherine should really be the one to write this. In all actuality. It's her message to whoever is trying *@
    <h2>
        Your account is currently pending approval. 
    </h2>
    <p>
        You can't login until it's been approved.
    </p>
    <p>
        While you're waiting, make sure you have sent me your RPG consent form; I will not approve an account until I have one. 
    </p>
    <p>
        I'll get it looked at as soon as possible. If I have any questions I will contact you through either the provided email or Discord.
    </p>
    <p>
        If the account is denied, you will recieve an email telling you such. 
    </p>
    <p>
        Poke me or one of my mods on discord to help speed up the process of getting this approved.
    </p>
    <br />
    <p>
        In the meantime, you can still explore the site. Just remember, once your account is approved and you made your character...
    </p>
    <p>
        Well...There may be secrets known to you at that point
    </p>
</div>

