
@{
    ViewBag.Title = "Style Guide";
}
<div class="col-12">
    <h2 class="line">@ViewBag.Title</h2>
    <a href="https://picresize.com/" target="_blank" style="font-size: 2em;">Picture Resizer</a>
    <div class="row">
        <div class="col-12 pl-5 pr-5" id="portrait">
            <h3 class="line">NPC Portrait</h3>
            <p>The orignal testing for NPC portrait was performed on a portrait 300pxs by 300px. The styleing is optimized for that ratio of 1-1 (width to height). However a portrait of any size and ratio will not break. I however found that the npc looks best when the portrait is at about a 1-1 aspect ratio; 4-3 does not look terrible either. The npc will look worse if the ratio has height larger than width (again in my experience)</p>
            <p>
                In terms of size, the portrait will rarely - if ever - be displayed at larger than about 300px by 300px. Having the picture much larger than say 500 by 500, is extremely extraneous and unnessary. It will not make a difference to most users, it will take more space to store, and several large images on a site has the potential to slow it down. So I do recommend not uploading pictures for portrait larger than 500 by 500. Use the linked site under the images heading to help shrink them down, and even change the aspect ratio if you want.
            </p>
            <p>
                In terms of file size, that is not too much of a concern. The dimensions of a picture will typically contribute more to the size than anything else, so, have no concern. There is no limit to how large of a file you specifically are allowed to upload.
            </p>
            <p>
                Of course, obviously remember to get the artist name for anything you use.
            </p>
        </div>
        <div class="col-12 pl-5 pr-5" id="crest">
            <h3 class="line">NPC Crest</h3>
            <p>The orginal testing for NPC crest was performed on a picture 200px by 200px. The styling is optimized for that aspect ratio. However, I have found that with crest you are able to be far funkier with image dimensions and it still look good. The general rules for what looks good on a crest are the exact opposite from portrait. Both are designed with a near 1-1 ratio but crest looks great also if the height is greater than the width; but tends to look worse the wider is it compared to height.</p>
            <p>
                In terms of size of crest, I recommend keeping it around a 300px max (with the 200px as an average) in width. Same rules as portrait apply for why you should NOT make them too much bigger than that when uploading.
            </p>
        </div>
        <div class="col-12 pl-5 pr-5" id="item">
            <h3 class="line">Item</h3>
            <p>On the picture of the item, I find that the best look is from a 4-3 ratio picture (so wider than longer), but square pictures are just fine. Tall pictures can look alright <i>if</i> you make sure that they are not uploaded as giant pictures. In general I'd avoid them </p>
            <p>Dimension wise I recommend not going beyond 300 px in either direction. For the same reasons as stated previously. It is very unlikely to be displayed larger than that, larger dimension means you have a larger file and thus more to store, and larger files like that can make a site run slower. Use the link under Images to help resize pictures</p>
            <p>Don't worry about the actual file size in the end. The dimensions will contribute more to the file size than really anything else</p>
        </div>
        <div class="col-12 pl-5 pr-5" id="org">
            <h3 class="line">Org</h3>
            <p>No joke, every aspect ratio looks good on the org. Each one has pros and cons but they all look good</p>
            <p>But in terms of dimensions, try to keep it to a max of 500px in either direction. The reason is that rarely will they get display larger than that, larger dimensioned pictures will take up more storage, and they can potentially slow down the site</p>
            <p>The file size in general is fine to not worry about. The dimensions of the picture are going to contribute to the file size more than anything else so don't worry.</p>
        </div>
        <div class="col-12 pl-5 pr-5" id="character">
            <h3 class="line">Character</h3>
            <p>So in those few cases where you have to upload a photo for a character portrait, here are the tips I will give you as directed at you.</p>
            <p>In general, a 4-3 ratio or a 1-1 ratio is ideal; tall images look AWFUL. General sizing should be about 400px by 300px (massive rounding abound) with a very max of 450 by 450. The demo I went with was about 400 by 300. That make the characters look the best in my opinion</p>
            <p>You also have to worry about size on this one -unlike the others. I limit the players to 75kb in the picture (and I'm being fairly generous) and so when you are editing a character you are under the same restrictions. Once again, use the resource I provided to help.</p>
        </div>
    </div>
</div>

